    body {
    margin: 0;
    text-align: center;
    font-family: "Noto Sans Display", sans-serif;
}

img {
    width: 100px;
}

.hero {
    background-image:url("./images/mandaluyong.jpg");
    background-size: cover;
    padding: 30px;
    height:350px;
    color:white;
}

#headingone {
    background-color:#00296B;
    width:800px;
    height:80px;
    padding:5px;
    margin:50px auto;
    border-radius:10px;
    box-shadow: 0px 0px 10px #00509D;
}
#headingtwo{
    font-family:Arial, Helvetica, sans-serif;
    background-color:#003F88; 
    width:900px;
    height:90px;
    padding:10px;
    margin:30px auto;
    border-radius:5px;
    box-shadow: 0px 0px 10px #00509D;
}

.activities{
    background-color:#fbf9eb;
    background-size:cover;
    margin:0;
    padding:40px;
}
.activities-grid {
    display:flex;
    align-items:center;
    justify-content:space-around;
    gap:30px;
}
.activity-card {
    flex: 1;
}

.activities img {
    width:100px;
    height:100px;
}

.guide {
    background: linear-gradient(#ffe552, #f2e8cf);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin:50px auto;
    padding: 50px 50px;
    width:600px;
    border-bottom: 6px solid #FDC500;
    box-shadow:0px 0px 10px gray;
}

.guide img {
    width:200px;
    padding: 30px;
    height:200px
}

.guide h3{
    text-shadow: 0px 0px 6px white;
}

.desc {
    flex:1;
}